{# templates/components/ui/accordion.html.twig v5.0 - Using ux_icon #}
{%- set accordionCount = count | default(4) %}
{%- set accordionId = id | default('default') %}
{%- set accordionToggleIcon = toggleIcon | default('tabler:chevron-down') %}
{%- set accordionTypes = type ? type | split(',') : [] %}

<div class="accordion{% for type in accordionTypes %} accordion-{{ type }}{% endfor %}" id="accordion-{{ accordionId }}">
	{% for question in questions|default([])|slice(0, accordionCount) %}
	<div class="accordion-item">
		<div class="accordion-header">
			<button class="accordion-button{%- if not (loop.index == 1) -%} collapsed{%- endif -%}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}-{{ accordionId }}" aria-expanded="{% if loop.index == 1 %}true{% else %}false{% endif %}">
				{% if showIcon %}
				<div class="accordion-button-icon">
					{{ ux_icon('tabler:link', {class: 'icon'}) }}
				</div>
				{% endif %}

				{{ question.question }}

				<div class="accordion-button-toggle{% if toggleIcon %} accordion-button-toggle-plus{% endif %}">
					{{ ux_icon(accordionToggleIcon, {class: 'icon'}) }}
				</div>
			</button>
		</div>
		<div id="collapse-{{ loop.index }}-{{ accordionId }}" class="accordion-collapse collapse{% if loop.index == 1 %} show{% endif %}" data-bs-parent="#accordion-{{ accordionId }}">
			<div class="accordion-body">
				{{ question.answer|raw }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
