{# templates/components/ui/photo.html.twig v3.9 #}
<!-- Photo -->
{% if id  %}
{% set id = id | default(1)  %}
{% if horizontal  %}
{% set filteredPhotos = photos | where: 'horizontal', true  %}
{% else  %}
{% set filteredPhotos = photos  %}
{% endif  %}

{% set photo = filteredPhotos[id]  %}

{% if background  %}
<div{% if class  %} class="{{ class  }}"{% endif  %} style="background-image: url({{ page | relative  }}/static/photos/{{ photo.file  }})"></div>
{% elseif ratio  %}
<div class="img-responsive img-responsive-{{ ratio  }}{% if class  %} {{ class  }}{% endif  %}" style="background-image: url({{ page | relative  }}/static/photos/{{ photo.file  }})"></div>
{% else  %}
<img src="{{ page | relative  }}/static/photos/{{ photo.file  }}"{% if class  %} class="{{ class  }}"{% endif  %} alt="{{ photo.title  }}" />
{% endif  %}

{% else  %}
<twig:ui:svg :width="640" :height="480" :border="true" :class="class"/>
{% endif  %}

{#
=== Original Liquid (photo.html) ===
<!-- Photo -->
{% if include.id %}
{% assign id = include.id | default: 1 %}
{% if include.horizontal %}
{% assign filtered-photos = photos | where: 'horizontal', true %}
{% else %}
{% assign filtered-photos = photos %}
{% endif %}

{% assign photo = filtered-photos[id] %}

{% if include.background %}
<div{% if include.class %} class="{{ include.class }}"{% endif %} style="background-image: url({{ page | relative }}/static/photos/{{ photo.file }})"></div>
{% elsif include.ratio %}
<div class="img-responsive img-responsive-{{ include.ratio }}{% if include.class %} {{ include.class }}{% endif %}" style="background-image: url({{ page | relative }}/static/photos/{{ photo.file }})"></div>
{% else %}
<img src="{{ page | relative }}/static/photos/{{ photo.file }}"{% if include.class %} class="{{ include.class }}"{% endif %} alt="{{ photo.title }}" />
{% endif %}

{% else %}
{% include "ui/svg.html" width=640 height=480 border=true class=include.class %}
{% endif %}
#}