{# templates/components/ui/shape.html.twig v3.9 #}
<div class="shape{% if size  %} shape-{{ size  }}{% endif  %}{% if color  %} shape-{{ color  }}{% endif  %}{% if class  %} {{ class  }}{% endif  %}{% if rounded  %} rounded-circle{% endif  %}">
	<twig:ui:icon :icon="icon"/>
</div>

{#
=== Original Liquid (shape.html) ===
<div class="shape{% if include['size'] %} shape-{{ include['size'] }}{% endif %}{% if include.color %} shape-{{ include.color }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}{% if include.rounded %} rounded-circle{% endif %}">
	{% include "ui/icon.html" icon=include.icon %}
</div>
#}