{# templates/components/layout/sidebar.html.twig v3.9 #}
{% set breakpoint = breakpoint | default('lg')  %}

<aside class="navbar navbar-vertical{% if end  %} navbar-end{% endif  %} navbar-expand-{{ breakpoint  }}{% if transparent  %} navbar-transparent{% endif  %}{% if background  %} bg-{{ background  }}{% endif  %}{% if class  %} {{ class  }}{% endif  %}"{% if backgroundColor  %} style="background: {{ backgroundColor  }}"{% endif  %}{% if dark  %} data-bs-theme="dark"{% endif  %}>
	<div class="container-fluid">
		<twig:layout:navbar-toggler target="sidebar-menu"/>

		{% if not (hideBrand)  %}
			<twig:layout:navbar-logo :breakpoint="breakpoint" :header="true"/>
		{% endif  %}

		<twig:layout:navbar-side class="d-lg-none" :hideUsername="hide-username" :personId="person-id" :breakpoint="breakpoint"/>

		<div class="collapse navbar-collapse" id="sidebar-menu">
			<twig:layout:navbar-menu :autoOpen="true" class="pt-lg-3" :keepOpen="true"/>
		</div>
	</div>
</aside>

{#
=== Original Liquid (sidebar.html) ===
{% assign breakpoint = include.breakpoint | default: 'lg' %}

<aside class="navbar navbar-vertical{% if include.end %} navbar-end{% endif %} navbar-expand-{{ breakpoint }}{% if include.transparent %} navbar-transparent{% endif %}{% if include.background %} bg-{{ include.background }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}"{% if include.background-color %} style="background: {{ include.background-color }}"{% endif %}{% if include.dark %} data-bs-theme="dark"{% endif %}>
	<div class="container-fluid">
		{% include "layout/navbar-toggler.html" target="sidebar-menu" %}

		{% unless include.hide-brand %}
			{% include "layout/navbar-logo.html" breakpoint=breakpoint header=true %}
		{% endunless %}

		{% include "layout/navbar-side.html" class="d-lg-none" hide-username=include.hide-username person-id=include.person-id breakpoint=breakpoint %}

		<div class="collapse navbar-collapse" id="sidebar-menu">
			{% include "layout/navbar-menu.html" auto-open=true class="pt-lg-3" keep-open=true %}
		</div>
	</div>
</aside>
#}