{# @SurvosTabler/components/tabler/header.html.twig #}
{% set showHeader = showHeader|default(true) %}
{% set dark = dark|default(false) %}
{% set overlap = overlap|default(false) %}
{% set showActions = showActions|default(false) %}
{% set debug = debug|default(app.request.query.get('debug', false)) %}

{% if showHeader %}
<div class="page-header d-print-none{{ dark or overlap ? ' text-white' : '' }}">
    <div class="container-xl">
        <div class="row align-items-center">
            <div class="col">
                {% if pretitle|default(false) %}
                    <div class="page-pretitle">{{ pretitle }}</div>
                {% endif %}

                {% if title|default(false) %}
                    <h2 class="page-title">
                        {% if icon|default(false) %}{{ icon(icon) }} {% endif %}
                        {{ title }}
                    </h2>
                {% endif %}

                {% if subtitle|default(false) %}
                    <div class="text-body-secondary mt-1{% if dark or overlap %} text-white-50{% endif %}">
                        {{ subtitle }}
                    </div>
                {% endif %}

                {% if debug %}
                    <div class="small mt-2 opacity-50">
                        <code>{{ _self }}</code>
                    </div>
                    <div class="card card-sm mt-3">
                        <div class="card-body">
                            <div class="subheader mb-2">Header props (debug)</div>
                            <pre class="m-0">{{ {
                                title: title|default(null),
                                pretitle: pretitle|default(null),
                                subtitle: subtitle|default(null),
                                icon: icon|default(null),
                                dark: dark,
                                overlap: overlap,
                                showActions: showActions
                            }|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-auto ms-auto d-print-none">
                {% block header_actions %}
                    {% if showActions %}
                        <div class="btn-list">
                            @actions
{#                            {{ tabler_menu(MenuSlot.PageActions) }}#}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endif %}
