<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ this.resolvedTitle }}{% endblock %}</title>
    {% block meta %}{% endblock %}
    {% block stylesheets %}{% endblock %}
    {{ importmap(this.entrypoint) }}
</head>
<body class="layout-{{ this.layout }}{% if this.bodyClass %} {{ this.bodyClass }}{% endif %}">

{% if this.shouldShow('navbar') %}
    {% block navbar %}
        <header class="navbar navbar-expand-md d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <a href="{{ path('app_homepage') }}" class="navbar-brand d-none-navbar-horizontal pe-md-3">
                    {{ this.resolvedTitle }}
                </a>
                
                <div class="collapse navbar-collapse" id="navbar-menu">
                    {{ tabler_menu(MenuSlot.Navbar, {layout: this.layout}) }}
                    {{ tabler_menu(MenuSlot.NavbarSecondary, {layout: this.layout}) }}
                </div>
                
                <div class="navbar-nav flex-row order-md-last">
                    {{ tabler_menu(MenuSlot.Auth) }}
                </div>
            </div>
        </header>
    {% endblock %}
{% endif %}

<div class="page-wrapper">
    {% if this.shouldShow('sidebar') %}
        {% block sidebar %}
            <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="sidebar-menu">
                        {{ tabler_menu(MenuSlot.Sidebar, {layout: this.layout}) }}
                    </div>
                </div>
            </aside>
        {% endblock %}
    {% endif %}

    <div class="page-body">
        {% if this.shouldShow('header') %}
            {% block header %}
                <div class="page-header d-print-none">
                    <div class="container-xl">
                        <div class="row align-items-center">
                            <div class="col">
                                {% if tabler_menu_has_items(MenuSlot.Breadcrumb) %}
                                    <div class="page-pretitle">
                                        {{ tabler_menu(MenuSlot.Breadcrumb) }}
                                    </div>
                                {% elseif this.resolvedPretitle %}
                                    <div class="page-pretitle">{{ this.resolvedPretitle }}</div>
                                {% endif %}
                                
                                {% if this.resolvedTitle %}
                                    <h2 class="page-title">
                                        {% if this.icon %}{{ ux_icon(this.icon, {class: 'icon me-2'}) }}{% endif %}
                                        {{ this.resolvedTitle }}
                                    </h2>
                                {% endif %}
                                
                                {% if this.resolvedSubtitle %}
                                    <div class="text-body-secondary mt-1">{{ this.resolvedSubtitle }}</div>
                                {% endif %}
                            </div>
                            
                            <div class="col-auto ms-auto d-print-none">
                                {% block header_actions %}
                                    <div class="btn-list">
                                        {{ tabler_menu(MenuSlot.PageActions) }}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endif %}

        <div class="container-xl">
            {% block flashes %}
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type == 'error' ? 'danger' : type }} alert-dismissible" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            
            {% block content %}
                {% if this.resolvedContent %}
                    <div class="markdown">{{ this.resolvedContent|raw }}</div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

    {% if this.shouldShow('footer') %}
        {% block footer %}
            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    {% block footer_content %}
                        <div class="row text-center align-items-center">
                            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                                {{ tabler_menu(MenuSlot.Footer) }}
                            </div>
                            <div class="col-lg-auto ms-lg-auto">
                                &copy; {{ 'now'|date('Y') }}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </footer>
        {% endblock %}
    {% endif %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
