{# @SurvosTabler/menu/actions.html.twig - Page action buttons #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
{{ block('children') }}
{% endblock %}

{% block item %}
{% if item.displayed %}
    {% set icon = item.getExtra('icon') %}
    {% set btnClass = item.getExtra('btn_class', 'btn btn-primary') %}
    <a href="{{ item.uri }}" class="{{ btnClass }}">
        {% if icon %}{{ ux_icon('tabler:' ~ icon, {class: 'icon'}) }}{% endif %}
        {{ block('label') }}
    </a>
{% endif %}
{% endblock %}

{% block label %}
{%- set translation_domain = item.extra('translation_domain', 'messages') -%}
{%- if translation_domain is not same as(false) -%}
    {{ item.label|trans({}, translation_domain) }}
{%- else -%}
    {{ item.label }}
{%- endif -%}
{% endblock %}
