{#
Tabler auth menu template.
User dropdown or login/register links.
#}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes|merge({class: (item.childrenAttributes.class|default('') ~ ' navbar-nav')|trim}) %}
    {{ block('list') }}
{% endblock %}

{% block item %}
    {% import _self as knp %}
    {% set icon = item.extras.icon|default(item.attributes['data-icon']|default(null)) %}
    {% set isSubmenu = item.extras.submenu|default(false) or item.hasChildren %}
    
    <li class="nav-item{% if isSubmenu %} dropdown{% endif %}">
        {% if isSubmenu %}
            <a class="nav-link d-flex lh-1 text-reset p-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="avatar avatar-sm">
                    {{ ux_icon(icon|default('tabler:user'), {class: 'icon'}) }}
                </span>
                <div class="d-none d-xl-block ps-2">
                    <div>{{ block('label') }}</div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                {% for child in item.children %}
                    {{ knp.render_auth_item(child, matcher) }}
                {% endfor %}
            </div>
        {% else %}
            <a class="nav-link" href="{{ item.uri }}">
                {% if icon %}{{ ux_icon(icon, {class: 'icon'}) }}{% endif %}
                <span>{{ block('label') }}</span>
            </a>
        {% endif %}
    </li>
{% endblock %}

{% block label %}
    {{ item.label|trans(item.extras.translation_params|default({}), item.extras.translation_domain|default('messages')) }}
{% endblock %}

{% macro render_auth_item(item, matcher) %}
    {% set icon = item.extras.icon|default(null) %}
    
    {% if item.extras.divider|default(false) %}
        <div class="dropdown-divider"></div>
    {% else %}
        <a class="dropdown-item" href="{{ item.uri }}">
            {% if icon %}{{ ux_icon(icon, {class: 'icon dropdown-item-icon'}) }}{% endif %}
            {{ item.label|trans({}, item.extras.translation_domain|default('messages')) }}
        </a>
    {% endif %}
{% endmacro %}
