{#
Tabler footer menu template.
Inline list with optional icons.
#}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes|merge({class: (item.childrenAttributes.class|default('') ~ ' list-inline list-inline-dots mb-0')|trim}) %}
    {{ block('list') }}
{% endblock %}

{% block item %}
    {% set icon = item.extras.icon|default(item.attributes['data-icon']|default(null)) %}
    
    <li class="list-inline-item">
        <a class="link-secondary" href="{{ item.uri }}"{% if item.linkAttributes.target|default(false) %} target="{{ item.linkAttributes.target }}"{% endif %}>
            {% if icon %}{{ ux_icon(icon, {class: 'icon'}) }}{% endif %}
            {{ block('label') }}
        </a>
    </li>
{% endblock %}

{% block label %}
    {% if options.allow_safe_labels and item.extras.safe_label|default(false) %}
        {{ item.label|trans(item.extras.translation_params|default({}), item.extras.translation_domain|default('messages'))|raw }}
    {% else %}
        {{ item.label|trans(item.extras.translation_params|default({}), item.extras.translation_domain|default('messages')) }}
    {% endif %}
{% endblock %}
