{# templates/menu/tabler_sidebar.html.twig v1.0 #}
{# Tabler sidebar/vertical menu template #}
{# rendered in {{ _self }} #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    <ul class="navbar-nav pt-lg-3">
        {% for child in item.children %}
            {{ block('item') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block item %}
    {% import _self as knp %}
    {% set isSubmenu = item.extras.submenu|default(false) or item.hasChildren %}
    {% set isHeading = item.extras.heading|default(false) %}
    {% set iconName = item.extras.icon|default(null) %}
    
    {# rendered in {{ _self }} #}
    {% if isHeading %}
        <li class="nav-item pt-3">
            <span class="nav-link nav-link-header">{{ item.label|trans }}</span>
        </li>
    {% elseif item.extras.divider|default(false) %}
        <li class="nav-item">
            <hr class="dropdown-divider">
        </li>
    {% elseif isSubmenu %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#navbar-{{ item.name|lower }}" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                {% if iconName %}
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        {{ icon(iconName, {class: 'icon'}) }}
                    </span>
                {% endif %}
                <span class="nav-link-title">{{ item.label|trans }}</span>
            </a>
            <div class="dropdown-menu">
                {% for child in item.children %}
                    {{ knp.render_sidebar_item(child, matcher) }}
                {% endfor %}
            </div>
        </li>
    {% else %}
        <li class="nav-item{% if matcher.isCurrent(item) %} active{% endif %}">
            <a class="nav-link" href="{{ item.uri }}">
                {% if iconName %}
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        {{ icon(iconName, {class: 'icon'}) }}
                    </span>
                {% endif %}
                <span class="nav-link-title">{{ item.label|trans }}</span>
                {% if item.extras.badge is defined %}
                    <span class="badge badge-sm bg-{{ item.extras.badge_color|default('primary') }} ms-auto">{{ item.extras.badge }}</span>
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% macro render_sidebar_item(item, matcher) %}
    {% import _self as knp %}
    {% set iconName = item.extras.icon|default(null) %}
    
    {% if item.extras.divider|default(false) %}
        <div class="dropdown-divider"></div>
    {% elseif item.hasChildren %}
        <div class="dropend">
            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                {% if iconName %}{{ icon(iconName, {class: 'icon dropdown-item-icon'}) }}{% endif %}
                {{ item.label|trans }}
            </a>
            <div class="dropdown-menu">
                {% for child in item.children %}
                    {{ knp.render_sidebar_item(child, matcher) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a class="dropdown-item{% if matcher.isCurrent(item) %} active{% endif %}" href="{{ item.uri }}">
            {% if iconName %}{{ icon(iconName, {class: 'icon dropdown-item-icon'}) }}{% endif %}
            {{ item.label|trans }}
        </a>
    {% endif %}
{% endmacro %}
