{# templates/menu/tabler_search.html.twig v1.0 #}
{# Tabler search menu (for search results or search form) #}
{# rendered in {{ _self }} #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    {% if item.hasChildren %}
        <div class="search-menu">
            {% for child in item.children %}
                {{ block('item') }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block item %}
    {% set iconName = item.extras.icon|default('tabler:search') %}
    
    {# rendered in {{ _self }} #}
    <a class="dropdown-item" href="{{ item.uri }}">
        {{ icon(iconName, {class: 'icon dropdown-item-icon'}) }}
        {{ item.label|trans }}
    </a>
{% endblock %}
