{# templates/menu/tabler_breadcrumb.html.twig v1.0 #}
{# Tabler breadcrumb navigation #}
{# rendered in {{ _self }} #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
        {% for child in item.children %}
            {{ block('item') }}
        {% endfor %}
    </ol>
{% endblock %}

{% block item %}
    {# rendered in {{ _self }} #}
    <li class="breadcrumb-item{% if matcher.isCurrent(item) %} active{% endif %}"{% if matcher.isCurrent(item) %} aria-current="page"{% endif %}>
        <a href="{{ item.uri }}">{{ item.label|trans }}</a>
    </li>
{% endblock %}
