{# templates/menu/tabler_footer.html.twig v1.0 #}
{# Tabler footer menu template - inline list with icons #}
{# rendered in {{ _self }} #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
    <ul class="list-inline list-inline-dots mb-0">
        {% for child in item.children %}
            {{ block('item') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block item %}
    {% set iconName = item.extras.icon|default(null) %}
    
    {# rendered in {{ _self }} #}
    <li class="list-inline-item">
        <a class="link-secondary" href="{{ item.uri }}"{% if item.linkAttributes.target|default(false) %} target="{{ item.linkAttributes.target }}"{% endif %}>
            {% if iconName %}{{ icon(iconName, {class: 'icon'}) }}{% endif %}
            {{ item.label|trans({}, item.extras.translation_domain|default('messages')) }}
        </a>
    </li>
{% endblock %}
